@model FoodOrderingWebApp.Models.HoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTienThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTienThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.KhachHangId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.NhanVienId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiShip.PhiShipId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HoaDonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
