@model IEnumerable<FoodOrderingWebApp.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container mt-5">
    <table class="table table-hover tm-table-small">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">MÃ HÓA ĐƠN</th>
                <th scope="col">NGÀY TẠO</th>
                <th scope="col">PHƯƠNG THức THANH TOÁN</th>
                <th scope="col">NGÀY GIAO</th>
                <th scope="col">SỐ NHÀ</th>
                <th scope="col">QUẬN</th>
                <th scope="col">TỔNG TIỀN THANH TOÁN</th>
                <th scope="col">TIN NHẮN</th>
                <th scope="col">TRẠNG THÁI</th>
                <th scope="col">KHÁCH HÀNG</th>
                <th scope="col">NHÂN VIÊN TẠO</th>
                <th scope="col">PHÍ SHIP</th>
                <th scope="col"> </th>
                <th scope="col">&nbsp;</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoaDonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoNha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTienThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.KhachHangId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.NhanVienId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhiShip.PhiShipId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HoaDonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.HoaDonId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.HoaDonId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
 </div>
